body 
{
    #container 
    {
        width: 400px !important;
        padding: 20px;
        margin: 0 auto !important;

        #content 
        {
            width: 100%;
            padding: 10px;

            h1 {
                text-align: center;
            }

            #display-alerts {
                padding: 5px;
                margin-bottom: 20px;
            }

            #form 
            {
                padding: 0 10px 0 0 !important;
                margin-bottom: 20px;

                input#new-todo {
                    width: 100%;
                    padding: 3px 3px 3px 5px;
                    font-size: 1.5em;
                    margin-bottom: 20px;
                    margin: 0 auto;
                }
            }

            div#app 
            {
                #list-items 
                {
                    width: 100% !important;
                    margin: 0 auto;
                    border-collapse: collapse;

                    .true {
                        text-decoration: line-through;
                    }

                    tr {
                        width: 100%;
                        background-color: $light-grey;
                        border-bottom: 4px solid white !important;

                        td {
                            padding: 5px;
                            
                            input {
                                padding: 3px;
                            }
                            span {
                                text-align: left;
                            }
                            button {
                                border: none;
                                float: right;
                            }
                        }
                    }
                }
            }
       }
    }
}